In [1]:
import pandas as pd
import numpy as np
import random

np.random.seed(42)

students = 200

data = pd.DataFrame({
    "student_id": [f"S{1000+i}" for i in range(students)],
    "exam_duration": np.random.normal(120, 10, students).astype(int),
    "tab_switch_count": np.random.poisson(2, students),
    "mouse_movements": np.random.normal(300, 50, students).astype(int),
    "keypress_count": np.random.normal(500, 100, students).astype(int),
    "idle_time": np.random.normal(60, 20, students).astype(int),
    "ip_change": np.random.choice([0, 1], students, p=[0.9, 0.1]),
    "copy_paste_count": np.random.poisson(0.5, students)
})

# Inject cheating behavior
for i in random.sample(range(students), 10):
    data.loc[i, ["tab_switch_count","idle_time","copy_paste_count"]] = [25, 300, 8]

data.to_csv("../data/exam_logs.csv", index=False)
data.head()

,student_id,exam_duration,tab_switch_count,mouse_movements,keypress_count,idle_time,ip_change,copy_paste_count
0,S1000,124,4,428,642,48,0,0
1,S1001,118,5,302,442,46,0,1
2,S1002,126,5,300,416,59,1,1
3,S1003,135,1,298,547,83,0,0
4,S1004,117,25,309,444,300,0,8